iRdpCore/build/
iRdp/build/
local.properties
iRdp/iRdp-release.apk
iRdp/manifest-merger-release-report.txt
rdp-remote-desktop-license/import-summary.txt
Release/Apks/manifest-merger-release-report.txt
/build/
.gradle/
/local.signing.properties
/.idea/
.DS_Store
*.iml
*.apk
/src/main/obj/
local.properties
local.extra.properties
/bin/
/gen/
/obj/
/buildSrc/build
